.parent-center {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../../assets/images/large-bg-bottom-right.png),
    url(../../assets/images/large-bg-top-left.png);
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
}

@media (max-width: 600px) {
  .parent-center {
    background-image: url(../../assets/images/small-bg-bottom.png),
    url(../../assets/images/small-bg-top.png);
  background-position: center bottom, center top;
  background-repeat: no-repeat, no-repeat;
  }
}
