.Home {
  .hero-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../assets//images/lanhydrock-bench.jpg);
    height:700px;
  }
}
