.TheWedding {
  .cali-title-text {
    font-family: 'Bad Script',  cursive;
    font-size: 50px;
    margin: 0;
    font-weight: normal;
  }

  .plain-title-text {
    font-family: 'Inter', sans-serif;
    letter-spacing: 7px;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
  }

  .plain-text {
    font-family: 'Inter', sans-serif;
  }

  .vine-divider {

      display: block;
      margin-left: auto;
      margin-right: auto;
      transform: scaleX(-1);

  }

  .vine-divider1 {
    top: -25px;
    position: relative;
  }

  .order-of-service {
    width: 230px;;
    margin: 0 auto;
    text-align: justify;
  }

  .order-text {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }
}