$gg: #eff1f4;

.envelope {
  width: 500px;
  height: 300px;
  background-color: darken($gg, 15%);
  margin: 300px auto;
  position: relative;
  z-index: 1;
  animation: envelopeslidein 2s;
}

@keyframes envelopeslidein {
  0% {
    opacity: 0;
    transform: translate(400px, 0px);
  }
  100% {
    opacity: 100;
    transform: translate(0px, 0px);
  }
}
.envelope:before {
  content: "";
  top: 0;
  right: 0;
  z-index: 3;
  position: absolute;
  border-left: 500px solid transparent;
  border-bottom: 300px solid darken($gg, 5%);
}
.envelope:after {
  content: "";
  top: 0;
  left: 0;
  z-index: 3;
  position: absolute;
  border-right: 500px solid transparent;
  border-bottom: 300px solid darken($gg, 5%);
}
.back {
  position: absolute;
  top: 0;
  z-index: -1;
  transform-origin: top;
  border-top: 150px solid darken($gg, 10%);
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  transition: all 1s ease-in-out;
  transform: rotateX(180deg);
}
.letter {
  position: relative;
  padding: 20px 10px;
  width: 400px;
  overflow: hidden;
  z-index: 2;
  margin: 0 auto;
  background-color: #fff;
  transition: all 1s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  animation-name: popupletter;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  height: 200px;
  top: 0px;
}

@keyframes popupletter {
  from {
    height: 200px;
    top: 0px;
  }
  to {
    height: 500px;
    top: -300px;
  }
}

.letter:hover button {
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 600px) {
  .Invite {
    .MuiContainer-root {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .envelope {
    width: 400px;
  }
  .envelope:before {
    content: "";
    top: 0;
    right: 0;
    z-index: 3;
    position: absolute;
    border-left: 300px solid transparent;
    border-bottom: 300px solid darken($gg, 5%);
  }

  .envelope:after {
    border-right: 300px solid transparent;
    border-bottom: 300px solid darken($gg, 5%);
  }

  .letter {
    width: 350px;
  }

  .back {
    border-top: 150px solid darken($gg, 10%);
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
  }
}
