@font-face {
  font-family: "Crystal Sky Alt W05 Regular";
  src: url("assets/fonts/crystal-sky.eot"); /* IE9*/
  src: url("assets/fonts/crystal-sky.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/crystal-sky.woff2") format("woff2"),
    /* chrome、firefox */ url("assets/fonts/crystal-sky.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.caligraphy {
  font-family: "Crystal Sky Alt W05 Regular", "Rochester", cursive;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

main {
  padding-top: 64px;
}

.bg-grey {
  background-color: #F9FAFA;
}

a {
  font-family: 'Inter', sans-serif !important;
  text-transform: none !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

footer {
  border-top: 1px solid rgba(229, 231, 235, 1);
  padding-top: 0.5rem;
}

.mt1 {
  margin-top: 1rem !important;
}